:root {
    --color1: #F6F4EB;
    --color2: #F79327;
    --shadow: rgb(7, 7, 7);
    --tShadow: black;
}
* {
    box-sizing: border-box;
}
body {
    background-image: url(images/BG1.jpg);
    background-color: darkslategray;
    /* background-color: cadetblue; */
    /* background-image: url(images/icons8-clouds-80.png); */
    /* background-size: 80px; */
    background-blend-mode: multiply;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h1 {
    text-align: center;
    color: var(--color1);
    text-shadow: 2px 2px 4px black;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 45px;
}
header p {
    padding-top: 0;
    text-transform: lowercase;
    font-style:italic;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color1);
    color:var(--color1)
}
#cityHeader {
    
    margin:0;
    width: 100%;
}
.citySearch {
    /* border: 1px solid brown; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px var(--shadow);
    margin-bottom: 100px;
    border-radius: 10px;
    margin-left: 40px;
}
.citySearch h3 {
    padding-bottom: 3px;
    margin: 0px;
    color: #F6F4EB;
    text-shadow: 1px 1px 2px var(--tShadow);
    font-weight: 500;
    font-style: italic;
    text-align:center;
    border-bottom: 1px solid var(--color2);
}
#searchCity {
    border: none;
    width: 80%;
    text-align: center;
    background-color: inherit;
    border-bottom: 2px solid var(--color1);
    margin-bottom: 8px; 
    color: var(--color1);
    
}
#searchCity:focus {
    border: none;
    background-color: inherit;
    border-bottom: 2px solid var(--color1);
    color: var(--color1);
    background: none;
    outline: none;
}
#searchCity::placeholder {
   color: var(--color1);
   opacity: .5;
}
#searchIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -5px;
    background-color: var(--color1);
    border-radius: 5px;
}

/* #submitCity {
    border-radius: 5px;
    border: var(--color2);
    background-color:var(--color2);
    color:var(--color1);
    width: 80%;
    padding: 2px;
    margin: auto;
    font-weight: 600;
    box-shadow: 2px 2px 6px var(--tShadow);
    
} */

#cityInfo {
    /* border: 2px solid blue; */
    width: fit-content;
    padding: 0 0 30px 0;
    border-radius: 10px;
    /* background-color: #2B273060; */
    color: var(--color1);
    text-shadow: 2px 2px 2px black;
    box-shadow: 3px 3px 3px 4px var(--shadow);
    margin-left: 40px;
}

#cityInfo h3 {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    /* border-radius: 10px; */
    box-shadow: 0px 2px 3px var(--shadow);
    /* border: 1px solid darkgoldenrod; */
}
.city-data {
    padding-left: 35px;
}
.country {
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 20px;
}
.coordinates {
    font-size: .8rem;
    font-style: oblique;
    padding-top: 2px;
    margin-top: 1px;
    display: flex;
    gap: 20px;
}
.main-info {
    /* border: 2px solid yellow; */
    width: 35%;
    position: absolute;
    right: 10%;
    top: 18%;
    border-radius: 10px;
    padding: 10px;
    color:#F6F4EB;
    text-shadow: 2px 2px 2px black;
    font-size: 1.2rem;
}
.main-info h3 {
    text-align:center;
    font-size: 35px;
    padding: 0;
    margin: 0;
}
#date {
    font-size: .6em;
    margin-top: 5px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-family: monospace;
}
.last-updated {
    font-size: .5em;
    font-style: italic;
    margin-top: 40px;
    font-style: monospace;
    color: var(--color2);
}
.info {
    /* font-family:  */
    display: flex;
    flex-direction: row;
    font-weight: 700;
}
.info-text {
    padding-right: 30px;
    position: relative;
    top: 2px;
}

#conditions {
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
}
.icons {
    width: 40px;
    border-radius: 5px; 

}
.wind {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
#forecast {
    margin-top: 50px;
    width: 100%;
    /* border: 2px solid blueviolet; */
    border-radius: 10px;
    box-shadow:  4px 4px 2px 6px var(--shadow);
    padding-bottom: 10px;
    margin-bottom: 50px;
}
#forecastContent {
    display: flex;
    flex: 1;
}
.days {
    /* border: 1px solid aqua; */
    flex: 1;
}
.nextDates {
    color: var(--color2);
    font-weight: 800;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.forecast-title {
    text-align: center;
    width: 100%;
    height: 20%;
    margin: auto;
    text-transform: uppercase;
    color: var(--color1);
    font-weight: 900;
    font-size: 1.2rem;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid var(--color2);
    text-shadow: 4px 4px 2px var(--tShadow);
}
.forecast-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    font-weight: 700;

}

